[submodule "anthropic-skills"]
	path = skills/anthropic-skills
	url = https://github.com/anthropics/skills.git
[submodule "plugins/claude-plugins-official"]
	path = plugins/claude-plugins-official
	url = https://github.com/anthropics/claude-plugins-official.git
